---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=Highland,%20California
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 25 Apr 2022 17:47:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Highland,
        California"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Highland","adminArea5Type":"City","adminArea4":"San
        Bernardino County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040602","unknownInput":"","type":"s","latLng":{"lat":34.113514,"lng":-117.189578},"displayLatLng":{"lat":34.113514,"lng":-117.189578},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=34.113514,-117.189578|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1852594883"}]}]}'
  recorded_at: Mon, 25 Apr 2022 17:47:11 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=Chinese,%20All&latitude=34.113514&longitude=-117.189578&term=Chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer RFil2PazIAXpkK64C9i1tSzg3esYwScCbSLZj9h-aV-hcPUI6nVzetDDyoICb4UAfa8QdRRM-quqV9APakScph7RIs9-FmCmllQpSKSb-wiv0YQvvP0fFIPvK3hlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Remaining:
      - '4968'
      X-Routing-Service:
      - routing-main--uswest2-7844c7f94c-n2gl5; site=public_api_v3
      X-Zipkin-Id:
      - d6ca4f39c12c158f
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-69-73-uswest2aprod
      X-Extlb:
      - 10-69-69-73-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "9myWa7KY9Hh6VQsL6aUBUQ", "alias": "ruis-shanghai-bistro-redlands",
        "name": "Rui''s Shanghai Bistro", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/gBvcLGmv52RiMR-dwMzW5g/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/ruis-shanghai-bistro-redlands?adjust_creative=KbfegSDksm_Jh0keQqAHSg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KbfegSDksm_Jh0keQqAHSg",
        "review_count": 431, "categories": [{"alias": "shanghainese", "title": "Shanghainese"}],
        "rating": 4.5, "coordinates": {"latitude": 34.06991, "longitude": -117.21355},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "1711 W Lugonia Ave", "address2": "Ste 101", "address3": "", "city": "Redlands",
        "zip_code": "92374", "country": "US", "state": "CA", "display_address": ["1711
        W Lugonia Ave", "Ste 101", "Redlands, CA 92374"]}, "phone": "+19093356770",
        "display_phone": "(909) 335-6770", "distance": 5333.9719418768755}, {"id":
        "uIYA7qfV0CKwoHBsHOPgyA", "alias": "oriental-express-highland", "name": "Oriental
        Express", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/V0GDuyJlqsGCP5X-dlHIEw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/oriental-express-highland?adjust_creative=KbfegSDksm_Jh0keQqAHSg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KbfegSDksm_Jh0keQqAHSg",
        "review_count": 12, "categories": [{"alias": "chi[...]
