---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=Highland,%20California
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 25 Apr 2022 15:31:57 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Highland,
        California"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Highland","adminArea5Type":"City","adminArea4":"San
        Bernardino County","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040602","unknownInput":"","type":"s","latLng":{"lat":34.113514,"lng":-117.189578},"displayLatLng":{"lat":34.113514,"lng":-117.189578},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=34.113514,-117.189578|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1373092164"}]}]}'
  recorded_at: Mon, 25 Apr 2022 15:31:57 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=restaurants,Chinese&latitude=34.113514&longitude=-117.189578
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer RFil2PazIAXpkK64C9i1tSzg3esYwScCbSLZj9h-aV-hcPUI6nVzetDDyoICb4UAfa8QdRRM-quqV9APakScph7RIs9-FmCmllQpSKSb-wiv0YQvvP0fFIPvK3hlYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '4998'
      Ratelimit-Resettime:
      - '2022-04-26T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--uswest2-6f9cc7c6d9-qswpf; site=public_api_v3
      X-Zipkin-Id:
      - 874d6e041083a597
      Ratelimit-Dailylimit:
      - '5000'
      X-Cloudmap:
      - routing_uswest2
      X-Proxied:
      - 10-69-126-17-uswest2aprod
      X-Extlb:
      - 10-69-126-17-uswest2aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "xBZ7MjP509JNG55fT1M8MA", "alias": "ramenkoko-highland-6",
        "name": "RamenKoko", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/ZT4fZYZh9HYlYbjItYp8TQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/ramenkoko-highland-6?adjust_creative=KbfegSDksm_Jh0keQqAHSg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KbfegSDksm_Jh0keQqAHSg",
        "review_count": 257, "categories": [{"alias": "ramen", "title": "Ramen"}],
        "rating": 4.5, "coordinates": {"latitude": 34.11249, "longitude": -117.2092},
        "transactions": ["pickup", "delivery"], "price": "$$", "location": {"address1":
        "7750 Palm Ave", "address2": "Ste N", "address3": "", "city": "Highland",
        "zip_code": "92346", "country": "US", "state": "CA", "display_address": ["7750
        Palm Ave", "Ste N", "Highland, CA 92346"]}, "phone": "+19092803491", "display_phone":
        "(909) 280-3491", "distance": 1812.880504535872}, {"id": "0LcZZBbkl9kHjQAaiWuedQ",
        "alias": "carolyns-cafe-redlands-2", "name": "Carolyn''s Cafe", "image_url":
        "https://s3-media2.fl.yelpcdn.com/bphoto/hVz2nw9fTEaKvzY0O7h9EQ/o.jpg", "is_closed":
        false, "url": "https://www.yelp.com/biz/carolyns-cafe-redlands-2?adjust_creative=KbfegSDksm_Jh0keQqAHSg&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=KbfegSDksm_Jh0keQqAHSg",
        "review_count": 2225, "categories": [{"alias": "break[...]
