---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_api_key&exclude=minutely&lat=39.64445&lon=-105.00645&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6445,"lon":-105.0065,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650672925,"sunrise":1650629536,"sunset":1650678262,"temp":76.28,"feels_like":74.12,"pressure":990,"humidity":11,"dew_point":19.54,"uvi":0.76,"clouds":75,"visibility":10000,"wind_speed":28.77,"wind_deg":210,"wind_gust":40.29,"weather":[{"id":761,"main":"Dust","description":"dust","icon":"50d"}]},"hourly":[{"dt":1650672000,"temp":76.28,"feels_like":74.12,"pressure":990,"humidity":11,"dew_point":19.54,"uvi":0.76,"clouds":75,"visibility":10000,"wind_speed":24.32,"wind_deg":210,"wind_gust":41.65,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1650675600,"temp":74.73,"feels_like":72.52,"pressure":989,"humidity":13,"dew_point":21.96,"uvi":0.13,"clouds":61,"visibility":10000,"wind_speed":22.35,"wind_deg":218,"wind_gust":41.85,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.07},{"dt":1650679200,"temp":71.28,"feels_like":68.95,"pressure":990,"humidity":18,"dew_point":26.37,"uvi":0,"clouds":57,"visibility":10000,"wind_speed":18.75,"wind_deg":225,"wind_gust":30.49,"weather":[{"id":8[...]
