---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=sheridan,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 25 Apr 2022 17:46:30 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"sheridan,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sheridan","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282030120","unknownInput":"","type":"s","latLng":{"lat":39.64935,"lng":-105.025038},"displayLatLng":{"lat":39.64935,"lng":-105.025038},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.64935,-105.025038|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-591160805"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Sheridan
        County","adminArea4Type":"County","adminArea3":"WY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNT[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_api_key&exclude=minutely&lat=39.64935&lon=-105.025038&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6494,"lon":-105.025,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650908790,"sunrise":1650888496,"sunset":1650937649,"temp":50.61,"feels_like":47.16,"pressure":1025,"humidity":38,"dew_point":26.67,"uvi":7.59,"clouds":20,"visibility":10000,"wind_speed":4,"wind_deg":146,"wind_gust":5.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1650906000,"temp":50.04,"feels_like":46.58,"pressure":1025,"humidity":39,"dew_point":26.76,"uvi":6.02,"clouds":25,"visibility":10000,"wind_speed":2.08,"wind_deg":108,"wind_gust":2.95,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1650909600,"temp":50.61,"feels_like":47.16,"pressure":1025,"humidity":38,"dew_point":26.67,"uvi":7.59,"clouds":20,"visibility":10000,"wind_speed":3.36,"wind_deg":79,"wind_gust":3.76,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.03},{"dt":1650913200,"temp":51.06,"feels_like":47.55,"pressure":1024,"humidity":36,"dew_point":25.86,"uvi":8.08,"clouds":21,"visibility":10000,"wind_speed":3.51,"wind_deg":70,"wind_gust":4.85,"weather":[{"id":801,"[...]
