---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mapquest_api_key&location=sheridan,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 23 Apr 2022 02:01:54 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"sheridan,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Sheridan","adminArea5Type":"City","adminArea4":"Arapahoe
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282030120","unknownInput":"","type":"s","latLng":{"lat":39.64935,"lng":-105.025038},"displayLatLng":{"lat":39.64935,"lng":-105.025038},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mapquest_api_key&type=map&size=225,160&locations=39.64935,-105.025038|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1597510268"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Sheridan
        County","adminArea4Type":"County","adminArea3":"WY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUN[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=weather_api_key&exclude=minutely&lat=39.64935&lon=-105.025038&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.6494,"lon":-105.025,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1650679314,"sunrise":1650629540,"sunset":1650678267,"temp":63.48,"feels_like":60.89,"pressure":991,"humidity":29,"dew_point":30.85,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":11.01,"wind_deg":286,"wind_gust":17,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1650679200,"temp":63.48,"feels_like":60.89,"pressure":991,"humidity":29,"dew_point":30.85,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":15.77,"wind_deg":220,"wind_gust":23.4,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.2},{"dt":1650682800,"temp":62.17,"feels_like":59.49,"pressure":991,"humidity":30,"dew_point":30.58,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":17.72,"wind_deg":265,"wind_gust":29.62,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.2},{"dt":1650686400,"temp":61.09,"feels_like":58.06,"pressure":991,"humidity":25,"dew_point":25.84,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":3.29,"wind_deg":181,"wind_gust":13.56,"weather":[{"id":803,[...]
